.map {
    height: 300px;
    
    background: rgba( 255, 255, 255, 0.00 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.1 );
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border-radius: 7px;


    padding: 0px;
    border-radius: 10px;
    margin-top: 16px;
    }

.map .leaflet-container{
    height: 100%;
    border-radius: 8px;
    opacity: 0.9;
}